doctype html

mixin biblio(title, info)
  p
    strong title
    span=": "+info

mixin icon(name, url)
  | 
  if url
    a(href=url)
      span.glyphicon(class!="glyphicon-"+name, aria-hidden="true")
  else
    span.glyphicon(class!="glyphicon-"+name, aria-hidden="true")
  | 

mixin icon-popover(name, title, content)
  | 
  span.glyphicon(class!="glyphicon-"+name, aria-hidden="true",
   data-toggle="popover", title=title, data-html="true", data-content=content)
  | 

mixin info(title, content)
  +icon-popover("info-sign", title, content)

html(lang="en", xmlns:dbpprop="http://dbpedia.org/property/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    version="XHTML+RDFa 1.0"
    xml:lang="en")
  head
    title lod-mockups
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    header
      nav(class="navbar navbar-default")
        .container
          p.navbar-brand LOD Mockups

    .container(prefix="schema: http://schema.org/ spc: http://imagesearchnew.library.illinois.edu/schemas/spc/ dc: http://purl.org/dc/terms/ rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#", typeof="schema:VisualArtwork", resource="http://imagesearchnew.library.illinois.edu/cdm/ref/collection/motley/id/8664")
      block content

    // Footer
    footer

    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src= '/bower_components/bootstrap/dist/js/bootstrap.js' )
    script(type='text/javascript').
      $(function () {
        $('[data-toggle="popover"]').popover()
        })
    
    script(src='/scripts/main.js')
    // endbuild
