extends /layouts/_default

block content

  .row
    h2=bib["Image Title"].text


  .row
    .col-sm-8.col-sm-push-4.col-xs-12
      img.img-responsive(src="/images/1914_Sergeant_and_Grocer.jpg")
      br

      each val, name in bib
        p
          strong= name + ": "
          span= val.text
          if val.popup
            +info(val.text, val.popup)
          if val.search
            +icon("search", val.search)
      p
        strong Subject I (AAT): 
        span costume design
            +icon("search", "placeholder")
        span costumes (character dress)
            +icon("search", "placeholder")
      p
        strong Subject II (TGMI): 
        span Theatrical productions
            +icon("search", "placeholder")
        span Costume design drawings
            +icon("search", "placeholder")
      p
        strong Subject (LCSH): 
        span Theater--History
            +info("Subject Heading", "http://id.loc.gov/authorities/subjects/sh85134531.html")
            +icon("search")
      p
        strong Rights: 
        span Rare Book and Manuscript Library, University of Illinois at Urbana-Champaign; For questions regarding these materials, please contact the Rare Book and Manuscript Library: https://illinois.edu/fb/sec/7016277
      p
        strong Physical Location University of Illinois at Urbana-Champaign. Rare Book and Manuscript Library: 
      p
        strong Inventory Number: 
        span 670706-057
      p
        strong JPEG2000 URL: 
        span http://varuna.grainger.illinois.edu/motley/jp2/670706_057.jp2
      p
        strong Collection Title: 
        span Motley Collection of Theatre and Costume Design (University of Illinois at Urbana-Champaign Library)

    .col-sm-4.col-sm-pull-8.col-xs-12#accordion
      .panel.panel-primary
        .panel-heading(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")!= bib["Performance Title"].text
        .panel-body!= bib["Performance Title"].popup

      .panel.panel-primary
        .panel-heading!= bib["Author / Composer"].text
        .panel-body!= bib["Author / Composer"].popup

      .panel.panel-primary
        .panel-heading!= bib["Theater"].text
        .panel-body!= bib["Theater"].popup

      .panel.panel-primary
        .panel-heading External Resources
        .panel-body
          h4 People
          p
            ul
              li!= bib["Author / Composer"].text
                |  (note relationship to work here)
              ul
                li VIAF
                li DbPedia
                li LOC
                li NY Times
          h4 Works
          p
            ul
              li!= bib["Performance Title"].text
              ul
                li VIAF
                li LOC
          h4 Places
          p
            ul
              li!= bib["Theater"].text
          h4 Subject
          p
            ul
              li LOC



  .row
    .col-sm-9
      img.img-responsive(src="/images/1914_Sergeant_and_Grocer.jpg")
